html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

input {
  display: none;
}

svg {

  width: 50px;
  height: 50px;

  fill: none;
  stroke: black;
}

input:hover ~ label>.star {
  fill: burlywood;
}

input:checked ~ label>.star {
  fill: black;
}

.radiobuttons {
  direction: rtl;

  /*Заметил, что к левому краю можно прижать несколькими способами*/
  /*1
     text-align: left; //просто прижму строчные элементы внутри блока к левому краю
  */

  /*2
     display: inline; //как я понимаю, тут работает примерно так же , как в случае
                      //c text-align: left, просто блок становится строкой, а там по умолчанию
                      //это значение стоит (и то же в случае с inline-block)
  */
  float: left;
}